<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simple Calculator</title>
</head>
<body>
    <form action="/math" method="POST">
        <input type="text" name="num1" value=""/>
        <input type="text" name="num2" value=''/>
        <button type="submit" value="add" name="submit">Addition</button>
        <button type="submit" value="sub" name="submit">Subtraction</button>
        <button type="submit" value="mul" name="submit">Multiplication</button>
        <button type="submit" value="div" name="submit">Division</button>
    </form>
</body>
</html>